{% extends 'pybb/base.html' %}

{% load url from future %}

{% load i18n %}
{% load pybb_tags %}

{% block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock title %}

{% block breadcrumb %}
    {% with extra_crumb="Forum" %}{% cinclude "pybb/breadcrumb.html" %}{% endwith %}
{% endblock %}

{% block content %}
    <h1>Base Index template!</h1>
    {% if categories %}
        {% for category in categories %}
            {% cinclude 'pybb/category.html' %}
        {% endfor %}
    {% else %}
        <h2>{% trans "Forum categories are not created" %}</h2>
        <a href="{% url 'admin:pybb_category_add' %}">{% trans "Add a category now" %}</a>
    {% endif %}
    {% if user.is_authenticated %}
        <div id='mark-all-as-read'>
            <a href='{% url PYBB_CLIENT|add:'_pybb:topic_latest' %}'>
                {% trans "Last updates in topics" %}
            </a>
            <a href='{% url PYBB_CLIENT|add:'_pybb:mark_all_as_read' %}'>
                {% trans "Mark all forums as read" %}
            </a>
        </div>
    {% endif %}
{% endblock content %}
