{% load url from future %}
{% load i18n pybb_tags %}
<form class="post-form" action="{% spaceless %}
    {% if forum %}
        {% url PYBB_CLIENT|add:'_pybb:add_topic' forum.pk %}
    {% else %}
        {% if topic %}
            {% url PYBB_CLIENT|add:'_pybb:add_post' topic.pk %}
        {% else %}
            {% url PYBB_CLIENT|add:'_pybb:edit_post' pk=object.pk %}
        {% endif %}
    {% endif %}{% endspaceless %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    {% cinclude "pybb/form_errors.html" %}
    {% if form.name %} {% cinclude "pybb/form_field.html" with field=form.name %} {% endif %}
    {% if form.login %} {% cinclude "pybb/form_field.html" with field=form.login %}  {% endif %}
    {% if form.body %} {% cinclude "pybb/form_field.html" with field=form.body %}  {% endif %}
    <div id='emoticons'>
      {% for smile, url in form.available_smiles.items %}
        <a href='#' title='{{ smile|safe }}'><img src='{{ STATIC_URL }}{{ form.smiles_prefix }}{{ url }}'></a>
      {% endfor %}
    </div>

    {% if request.user|pybb_may_create_poll and form.poll_type %}
      {% cinclude "pybb/poll_edit_form.html" %}
    {% endif %}
    {% cinclude "pybb/attachments_formset.html" %}
    <p class="submit">{% cinclude "pybb/_button_submit.html" %}</p>
  </fieldset>
</form>
